.status-pending {
    background-color: #f8dda7;
    color: #94660c;
    padding: 3px 8px;
    border-radius: 3px;
}
.status-completed {
    background-color: #c6e1c6;
    color: #5b841b;
    padding: 3px 8px;
    border-radius: 3px;
}
.status-failed {
    background-color: #f8d7da;
    color: #721c24;
    padding: 3px 8px;
    border-radius: 3px;
}
